@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-FontFamily: "Press Start 2P", cursive;
	--primary-BackgroundColor: #202124;
	--primary-TextColor: #e8eaed;
	--success-BackgroundColor: #60b347;
	--failure-BackgroundColor: red;
	--primary-DisplayLayout: flex;
	--primary-DisplayHeight: calc(100vh);
}
html {
	overflow: scroll;
	overflow-x: hidden;	
}
::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	/* background: linear-gradient(transparent, var(--primaryHoverColor)); */
	/* border-radius: 6px; */
	background: transparent;
}

::-webkit-scrollbar-thumb:hover {
	/* background: linear-gradient(transparent, hsla(153, 77%, 46%, 0.678)); */
	background: transparent;
}

::selection {
	background: var(--primaryHoverColor);
	color: rgb(255, 255, 255);
}
body {
	background-color: var(--primary-BackgroundColor);
	background-repeat: no-repeat;
	font-family: var(--primary-FontFamily);
	min-height: var(--primary-DisplayHeight);
	color: var(--primary-TextColor);
	letter-spacing: 3px;
	line-height: 30px;
}
.upper_section {
	display: var(--primary-DisplayLayout);
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
.again_indicator {
	margin: 20px 0px 0px 20px;
}
.again_indicator input,
input[type="button"] {
	font-family: var(--primary-FontFamily);
	font-size: 20px;
	padding: 20px 15px;
	cursor: pointer;
	letter-spacing: inherit;
}
.middle_section {
	text-align: center;
	margin-top: 50px;
	position: relative;
	display: var(--primary-DisplayLayout);
	flex-direction: column;
	margin-bottom: 70px;
}
.heading_text {
	margin-bottom: 35px;
}
.heading_text h1 {
	font-size: 40px;
}
.number_range {
	margin: 20px 20px 0px 0px;
}
.question_mark {
	font-size: 40px;
	background: var(--primary-TextColor);
	color: var(--primary-BackgroundColor);
	/* position: absolute; */
	/* left: 45%; */
	padding: 40px 50px;
	margin: auto;
}
.question_mark::before {
	content: "";
	left: 0;
	background-color: var(--primary-TextColor);
	height: 20px;
	width: 44.7%;
	position: absolute;
	top: 62%;
}
.question_mark::after {
	content: "";
	right: 0;
	background-color: var(--primary-TextColor);
	height: 20px;
	width: 44.7%;
	position: absolute;
	top: 62%;
}
.lower_section {
	display: var(--primary-DisplayLayout);
	align-items: center;
	justify-content: space-evenly;
}
.sub_section_left form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
input[type="number"] {
	padding: 20px 0px 20px 20px;
	font-family: var(--primary-FontFamily);
	width: 250px;
	height: 100px;
	background: transparent;
	outline: none;
	border: navajowhite;
	font-size: 50px;
	color: var(--primary-TextColor);
	text-align: center;
}
input[type="number"]:focus {
	border: 2px solid var(--primary-TextColor);
}
input[type="button"] {
	width: 250px !important;
}

.sub_section_heading h3 {
	display: flex;
	align-items: center;
}
.sub_section_heading h3 span {
	margin-right: 10px;
}
input[type="number"]::placeholder {
	font-family: var(--primary-FontFamily);
	font-size: 30px;
	text-align: center;
}

/* Beginning of the Responsive Design */
@media screen and (min-width: 280px) and (max-width: 700px) {
	.upper_section {
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.again_indicator {
		margin: 70px 0px 30px 0px;
	}
	.again_indicator input,
	input[type="button"] {
		font-size: 15px;
	}
	.number_range {
		margin: 0px;
	}
	.heading_text h1 {
		font-size: 25px;
	}
	.lower_section {
		flex-direction: column;
	}
	.sub_section_left {
		margin-bottom: 50px;
	}
	#sub_section_title {
		margin-bottom: 0px;
	}
	.sub_section_right {
		margin-bottom: 30px;
	}
}
/* End of the Responsive Design */
